
.header{
    width: 1340px;
    height: 109px;
    display: flex;
    align-items: center;
}
.header__menu{

}
.header___links-list{

}
.header__link{

}
.header__links-list-item{

}
.header__link_active{

}
.header__links-list-item_no-bullit{

}
.header__logo{

}
.header__logo-image{

}
.address{

}
.header__address{

}
.cover{
    
    background-image: url(/images/cover.jpg);
}